/* Страница 3 */

.page3 {
    display: grid; 
    grid-template-rows: repeat(12, 1fr); 
    min-height: 500px;
    width: 100%;
    gap: 5px;
    text-align: center;
}




/* стилизовать инпуты 
добавить грид, сделать таблицу
стилизовать кнопки футера 
сделать поля обязательные/ неогбязательные 
сделать алерт подтверждения/ предупреждения */
