* {
    margin: 0;
    box-sizing: border-box;
    
 }

 /* Страница 1 */

 .title-Page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    min-height: 800px;
    margin-bottom: 25%;

 }

.main-button {
  text-align: center;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, #00acee, #0072e0);
  /* Для того, чтобы сделать кнопку  сплошно цвета, удалить строчку выше и раскомментировать ту, котрая ниже*/
  /* background: #4676d7; */ 
  color: #fff;
  padding: 12px 24px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid rgb(36, 19, 74); 

  }

  .main-button:hover  {    
    background: #1d49aa;

  }

  .main-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }


  /* Страница 2 */
/* Параметры кнопки берутся со страницы 1 */

.Page2 {
    display: grid; 
    grid-template-rows: repeat(6, 1fr); 
    min-height: 800px;
    width: 100%;
    gap: 10px;
    /* Сделать текст в цетре */
    /* margin: 0% auto; */
    margin-bottom: 25%;
}

.header-page2 {
    grid-row: 1/2;
}

.button-page2 {
    grid-row: 2/3;
}

.list-url-page2 {
    grid-row: 3/7;
}

.item-page2 {
    display: inline-block;
    list-style: none;
}



/* .URL .Bucketname .Region { */
    /* display: inline-block; */
/* } */


